Alfa2/nbproject

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ProyectoAlfa/nbproject/private/
/ProyectoAlfa/build/
.vscode/launch.json
/JavaBoTs/nbproject/private/
/JavaBoTs/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Seguros/nbproject/private/
/Seguros/build/
/Seguros/dist/
/Segurs2/nbproject/private/
/Segurs2/build/
/WebApplication1/dist/
/servletPrueba/nbproject/private/
/servletPrueba/build/
/servletPrueba/dist/
.DS_Store
Laboratory/JavaBoTs/.vscode/launch.json
**/.vscode
Alfa2/nbproject/private/*
/ProyectoOmega/nbproject/private/
/ProyectoOmega/build/
/ProyectoOmega/dist/
ProyectoOmega/nbproject/project.properties
ProyectoOmega/nbproject/ant-deploy.xml
